.footer_ohmyfood ul {
    list-style: none;
    padding-left: 0px;
}

.footer_ohmyfood li {
    color: white;
    padding-top: 9px;
    font-size: 13px;
}

.logo_ohmyfood_footer {
    color: white;
    font-family:'Shrikhand', cursive; 
    font-weight: 300;
    font-size: 17px;
}

.fa-hands-helping {
    padding-right: 5px;
}

.fa-utensils {
    padding-right: 11px;
}

.footer_ohmyfood a {
    color: white;
}