/******************* RESPONSIVE ******************/

/********* ORDI **********/

@media (min-width: 1024px) {
    .step_by_step {
        width: 700px;
        margin: auto;
    }

    .container_step {
        width: auto;
    }

    .step_title {
        text-align: center;
        font-size: 26px;
    }

    .vignettes_restaurant_1,
    .vignettes_restaurant_2 {
        width: 345px;
        margin: auto;
        height: 287px;
        margin-bottom: 40px;
    }

    .vignettes_restaurant {
        width: auto;
        height: 730px;
    }

    .mediaqueries_ordi {
        display: flex;
    }

    .title_restaurant {
        text-align: center;
        margin-bottom: 25px;
        font-size: 26px;
    }

    .vignettes_restaurant_2 img {
        height: 230px;
    }

    .vignettes_restaurant_3,
    .vignettes_restaurant_4 {
        width: 345px;
        margin: auto;
    }

    .new_restaurant_2 {
        margin-top: -63%;
        margin-bottom: 54%;
    }
}

@media (min-width: 414px) {
    .ensemble_menu_carte {
        width: 100%;
    }

    .menu_carte_full {
        margin: auto;
        width: 375px;
    }

    .menu_carte_title {
        margin: auto;
        width: 375px;
    }

    .background_header img {
        width: 100%;
        height: 272px;
        margin-top: 21px;
    }

    .container a {
        width: 5%;
        text-align: center;
        margin-top: 20px;
    }

    .container img {
        margin-left: auto;
        margin-right: auto;
        width: 162px;
        margin-top: 20px;
    }

}




/********* TABLETTE **********/


@media (min-width: 768px) {
    .container_step {
        width: auto;
    }

    .step_by_step {
        width: 700px;
        margin: auto;
    }

    .step_title {
        text-align: center;
        font-size: 26px;
    }

    .title_restaurant {
        text-align: center;
        margin-bottom: 25px;
        font-size: 26px;
    }

    #restaurants {
        background-color: rgba(194, 194, 194, 0.151);
    }

    .vignettes_restaurant {
        background-color: rgba(255, 255, 255, 0);
    }
    .description_plat {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 155px;
    }
    .nom_plat {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 155px;
    }
}


@media (max-width: 325px) {
    .step_by_step {
        width: 285px;
    }
    
    .vignettes_restaurant {
        width: auto;
    }
    .vignettes_restaurant_2 img {
        max-width: 100%;
    }
    .vignettes_restaurant_3 img {
        max-width: 100%;
    }
    .vignettes_restaurant_4 img {
        max-width: 100%;
    }
    .new_restaurant {
        margin-left: 200px;
        padding: 5px 3px;
    }
    .new_restaurant_2 {
        margin-left: 200px;
        margin-top: -66%;
        margin-bottom: 57%;
        padding: 5px 3px;
    }
    .vignettes_restaurant_1 {
        height: auto;
    }
    .like_nobg {
        width: 267px;
    }
    .like_bg {
        width: 267px;
    }
    .fa-heart {
        margin-right: 30px;
    }
    .menu_carte_title h1 {
        font-size: 22px;
    }
    .container img {
        margin-left: 73px;
    }
    .background_header img {
        width: 320px;
    }
    .ensemble_menu_carte {
        width: auto;
        position: relative;
    }
    .nom_plat {
        font-size: 14px;
    }
    .descrption_plat {
        font-size: 12px;
        
    }
    .footer_ohmyfood {
        margin-top: 0px;
    }
    .page {
        overflow: hidden;
    }
    .menu_comfirmation {
        margin: -47px 216px;
    }
    .description_plat {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 135px;
    }
}

@media (max-width: 375px) {
    .description_plat {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 145px;
    }
}

@media (max-width: 415px) {
    .description_plat {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 155px;
    }
    .nom_plat {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 155px;
    }
}