* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/******************** HEADER *********************/

.container {
    width: auto;
    margin: auto;
    display: flex;
    height: 40px;
    align-items: center;
}

.container p {
    margin-bottom: 0;
    margin-top: 0;
}

.container img {
    width: 120px;
    margin-left: 102px;
}

.container_home {
    margin-top: 12px;
    margin-bottom: 12px;
}

.fa-arrow-left {
    color: black;
    margin-left: 20px;
}

.background_header img {
    width: 375px;
    height: 241px;
    object-fit: cover;
}


/******************** MENU CARTE *********************/

.menu_carte_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu_carte_title h1 {
    font-size: 27px;
    margin-left: 15px;
    font-family: 'Shrikhand', cursive;
}

.fa-heart {
    margin-right: 50px;
}

.ensemble_menu_carte {
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-top: -35px;
    position: absolute;
    width: 375px;
    font-family: 'Roboto';
    height: 968px;
}


.menu_carte_entrees h3 {
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: green;
    margin-left: 15px;
    margin-top: 25px;

}


/******************** MENU 1 *********************/


.menu_carte_entrees_1 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
}

.nom_plat {
    font-weight: bold;
    margin-bottom: -3px;
    margin-left: 10px;
    color: black;
    margin-top: 11px;
}

.description_plat {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
    margin-bottom: 0;
    z-index: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;

}


.description_plat, .prix {
    color: black;
    
}

.prix {
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    margin-top: -15px;
    margin-right: 10px;
}

.menu_carte_plats_1{
    text-overflow: ellipsis;
}

/******************** MENU 2 *********************/

.menu_carte_entrees_2 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
}

/******************** MENU 3 *********************/

.menu_carte_entrees_3 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
}


/******************** MENU 4 *********************/

.menu_carte_entrees_4 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
}

/******************** PLAT 1 *********************/

.menu_carte_plats_1 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
}

/******************** PLAT 2 *********************/

.menu_carte_plats_2 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
}

/******************** PLAT 3 *********************/

.menu_carte_plats_3 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
}

/******************** DESSERT 1 *********************/

.menu_carte_desserts_1 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
}

/******************** DESSERT 2 *********************/

.menu_carte_desserts_2 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
}

/******************** DESSERT 3 *********************/

.menu_carte_desserts_3 {
    background-color: white;
    border-radius: 0.7em;
    margin-left: 12px;
    margin-right: 12px;
    height: 56px;
    overflow: hidden;
    margin-top: 10px;
}



/******************** BOUTON *********************/

.bouton_commander p {
    text-align: center;
}

/******************* FOOTER ******************/

.footer_ohmyfood {
    background-color: rgb(58, 56, 56);
    padding-left: 15px;
    padding-top: 10px;
    height: 170px;
    text-align: left;
    position: absolute;
    width: 100%;
    margin-top: 933px;
}