* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/******************** HEADER *********************/

.header_param {
    width: auto;
    margin: auto;
}

.header_param p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.header_param img {
    width: 150px;
    margin: 10px 0px;
}

.localisation {
    display: flex;
    align-items: center;
    background-color: rgb(222 222 222 / 52%);
    height: 40px;
}

.fa-map-marker-alt,
.localisation_city_name {
    margin: 0 auto;
}

.fa-map-marker-alt {
    margin-right: 0;
}

.localisation_city_name {
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
}


/**************** EXPLORE MENU ********************/

.explore_menu_content {
    width: auto;
    margin: auto;
    background-color: rgb(210 210 210 / 15%);
    ;
    padding: 15px 0px;
}

.explore_menu_content h1 {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.explore_menu_content p {
    text-align: center;
}


/**************** STEP ********************/

.container_step {
    width: 375px;
    margin: auto;
    margin-top: 33px;
}

.step_title {
    padding-left: 10px;
    font-size: 21px;
}


.step_by_step {
    margin: 0px 20px;
}

.step_by_step_1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(194, 194, 194, 0.151);
    padding: 0px 10px;
    border-radius: 5em;
    height: 70px;
    box-shadow: 0 4px 4px rgb(226, 226, 226);
}

.fa-mobile-alt {
    padding-right: 25px;
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.616);
}

.number {
    background-color: #9356DC;
    border-radius: 57%;
    padding: 8px;
    margin-left: -17px;
    color: white;
    font-size: 12px;
}

.description {
    font-weight: bold;
}

.description_1 {
    font-weight: bold;
    margin-left: 5px;
}

.step_by_step_2 {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(194, 194, 194, 0.151);
    padding: 0px 10px;
    border-radius: 5em;
    height: 70px;
    box-shadow: 0 4px 4px rgb(226, 226, 226);
}

.fa-list {
    padding-right: 25px;
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.616);
}

.step_by_step_3 {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(194, 194, 194, 0.151);
    padding: 0px 10px;
    border-radius: 5em;
    height: 70px;
    box-shadow: 0 4px 4px rgb(226, 226, 226);
}

.fa-store {
    padding-right: 25px;
    padding-left: 25px;
    color: rgba(0, 0, 0, 0.616);
}

.step_by_step_1:hover {
    background-color: #9256dc25;
    transition-duration: 0.4s;
    transform: scale(1.07);
    box-shadow: 0 6px 6px rgb(226, 226, 226);
}

.step_by_step_2:hover {
    background-color: #9256dc25;
    transition-duration: 0.4s;
    transform: scale(1.07);
    box-shadow: 0 6px 6px rgb(226, 226, 226);
}

.step_by_step_3:hover {
    background-color: #9256dc25;
    transition-duration: 0.4s;
    transform: scale(1.07);
    box-shadow: 0 6px 6px rgb(226, 226, 226);
}

/******************* RESTAURANTS ******************/

/********* RESTAURANT 1 **********/
#restaurants {
    background-color: rgba(194, 194, 194, 0.151);
}


.vignettes_restaurant {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    height: 1256px;
    font-family: 'Roboto';

}

.title_restaurant {
    padding-left: 10px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 21px;
}

.vignettes_restaurant_1 img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.vignettes_restaurant_1 {
    margin: auto;
    background-color: white;
    margin: 0px 15px;
    border-radius: 1em;
    height: 288px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px rgb(226, 226, 226);
}

.new_restaurant {
    padding: 5px 5px;
    position: relative;
    margin-top: -64%;
    margin-bottom: 55%;
    text-align: right;
    margin-left: 254px;
    background-color: #99E2D0;
    width: 70px;
    color: rgb(2, 32, 2);
    font-weight: bold;
}

.restaurant_class {
    display: flex;
}


.nom_restaurant {
    font-weight: bold;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 5px;
    color: black;
    font-size: 15px;
}

.description_restaurant {
    margin-top: 0px;
    padding-left: 10px;
    color: black;
    font-size: 13px;
}

.fa-heart,
.description_restaurant {
    display: inline-block;
}

.like_nobg {
    width: 321px;
    position: absolute;
    text-align: right;
    margin-top: 14px;
}

.like_bg {
    width: 321px;
    position: absolute;
    text-align: right;
    margin-top: 14px;
    color: #b79adb;
    margin-top: 14px;
    opacity: 0;
}

.like_bg:hover {
    transition-duration: .25s;
    opacity: 1;
}

.like_bg:hover .like--nobg {
    opacity: 0;
}


/********* RESTAURANT 2 **********/

.vignettes_restaurant_2 img {
    width: 346px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.vignettes_restaurant_2 {
    background-color: white;
    margin: 0px 15px;
    border-radius: 1em;
    height: 260px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px rgb(226, 226, 226);
}

.new_restaurant_2 {
    padding: 5px 5px;
    position: relative;
    margin-top: -56%;
    margin-bottom: 48%;
    text-align: right;
    margin-left: 254px;
    background-color: #99E2D0;
    width: 70px;
    color: rgb(2, 32, 2);
    font-weight: bold;
}

/********* RESTAURANT 3 **********/

.vignettes_restaurant_3 img {
    width: 346px;
    height: 200px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.vignettes_restaurant_3 {
    background-color: white;
    margin: 0px 15px;
    border-radius: 1em;
    height: 260px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px rgb(226, 226, 226);
}


/********* RESTAURANT 4 **********/

.vignettes_restaurant_4 img {
    width: 346px;
    height: 200px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.vignettes_restaurant_4 {
    background-color: white;
    margin: 0px 15px;
    border-radius: 1em;
    height: 260px;
    box-shadow: 3px 3px 3px rgb(226, 226, 226);
}



/******************* FOOTER ******************/

.footer_ohmyfood {
    background-color: rgb(58, 56, 56);
    padding-left: 15px;
    padding-top: 10px;
    height: 170px;
    text-align: left;
}

/******************* ANIMATION  ******************/

/********* REMPLISSAGE DU COEUR **********/

.heart_remplissage {
    transition: all 0.3s linear 0s;
    transform: scaleX(0);
}

.fa-heart:hover .heart_remplissage {
    height: 100%;
    background-color: #33BEE5;
    transform: scaleX(1);
}


/************ LOADER *****************/

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(78, 78, 78, 0.9);
    animation: loader 0.7s;
    animation-delay: 2s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_item_1,
.loader_item_2,
.loader_item_3 {
    height: 5rem;
    width: 5rem;
    animation: mouvement 2s;
    animation-iteration-count: 1;
}

.loader_container {
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.loader_item_1 {
    color: #9356DC;
    font-family: 'Shrikhand';
    font-size: 33px;
}

.loader_item_2 {
    color: #FF79DA;
    animation-delay: 0.25s;
    font-family: 'Shrikhand';
    font-size: 33px;
}

.loader_item_3 {
    color: #99E2D0;
    animation-delay: 0.5s;
    font-family: 'Shrikhand';
    font-size: 33px;
}


@keyframes loader {
    100% {
        opacity: 0;
        z-index: -20;
    }
}

@keyframes mouvement {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(0.7rem);
    }

    75% {
        transform: translateY(-0.7rem);
    }

    100% {
        transform: translateY(0);
    }
}

/******************* RESPONSIVE ******************/

/********* ORDI **********/

@media (min-width: 1024px) {
    .step_by_step {
        width: 700px;
        margin: auto;
    }

    .container_step {
        width: auto;
    }

    .step_title {
        text-align: center;
        font-size: 26px;
    }

    .vignettes_restaurant_1,
    .vignettes_restaurant_2 {
        width: 345px;
        margin: auto;
        height: 287px;
        margin-bottom: 40px;
    }

    .vignettes_restaurant {
        width: auto;
        height: 730px;
    }

    .mediaqueries_ordi {
        display: flex;
    }

    .title_restaurant {
        text-align: center;
        margin-bottom: 25px;
        font-size: 26px;
    }

    .vignettes_restaurant_2 img {
        height: 230px;
    }

    .vignettes_restaurant_3,
    .vignettes_restaurant_4 {
        width: 345px;
        margin: auto;
    }

    .new_restaurant_2 {
        margin-top: -63%;
        margin-bottom: 54%;
    }
}



/********* TABLETTE **********/


@media (min-width: 768px) {
    .container_step {
        width: auto;
    }

    .step_by_step {
        width: 700px;
        margin: auto;
    }

    .step_title {
        text-align: center;
        font-size: 26px;
    }

    .title_restaurant {
        text-align: center;
        margin-bottom: 25px;
        font-size: 26px;
    }

    #restaurants {
        background-color: rgba(194, 194, 194, 0.151);
    }

    .vignettes_restaurant {
        background-color: rgba(255, 255, 255, 0);
    }
}